.quotationCarsMainContainer{
  width: 100%;
  height: auto;
  padding: 48px 0px;

  .quotationCarsMainRow{
    max-width: 1609px;
    width: 95%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #FAFAFA;  

    @include media-breakpoint-down(md) {
      width: 96%;
    }

    @include media-breakpoint-down(xs) {
      width: 327px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
    }

    .quotationCarsImageColumn{
      width: 50%;
      height: 31vw;

      @include media-breakpoint-down(md) {
        width: 50%;
        height: 34vw;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
        height: 245px;
      }
     
      .quotationCarsImageContainer{
        width: 100%;
        height: 100%;
        background: grey;
        overflow: hidden;
        
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
    }
    .quotationCarsDescriptionColumn{
      width: 50%;
      height: auto;
      position: relative;
      display: flex; 
      align-items: center;

      @include media-breakpoint-down(md) {
        height: auto;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
        height: auto;
      }

      .quotationCarsDescriptionContainer{
        width: 100%;
        height: auto;
        margin-left: auto;
        padding: 0px 12%;

        @include media-breakpoint-down(sm) {
          width: 100%;
          padding: 32px;
        }
        

        .titleQuotationCars{
          width: 100%;
          height: auto;

          h3{
            font-size: 32px;
            color: #0A0A0A;
            font-weight: 600;
            margin-bottom: 0px;

            @include media-breakpoint-down(md) {
              font-size: 24px;
            }

          }
        }
        .quotationcarsDescription{
          width: 100%;
          height: auto;
          margin-top: 16px;

          p{
            font-size: 16px;
            line-height: 24px;
            color: #616161;
            margin-bottom: 0px;
          }
        }

        .buttonContainer{
          width: 100%;
          height: auto;
          margin-top: 24px;
          

          @include media-breakpoint-down(xs) {
            height: auto;
          }

          .btnBody{
            width: auto;
            height: auto;
            border-style: solid;
            border-width: 1px;
            border-color: #0A0A0A;
            border-radius: 4px;
            background: transparent;
            position: relative;
            transition: 0.4s;
            padding: 12px 24px;
            display: inline-block;
            text-align: center;

            &:hover{
              background: #0A0A0A;
              transition: 0.4s;
            }

            &:hover .buttonHref{
              color: #FAFAFA; 
              transition: 0.4s;
            }  

            .buttonHref{
              display: inline; 
              text-align: center;
              text-decoration: none;
              width: 100%;
              height: 100%;
              color: #0A0A0A;
              font-size: 16px;
              font-weight: 600;

            }
          }
        }
      }
    }
  }
} 