
<div class="steps">
    <span class="do step_1 active" data-step="step1"><span class="inner_do"></span></span>
    <span class="progressbar"></span>
    <span class="do  step_2" data-step="step2" ><span class="inner_do"></span></span>
    <span class="progressbar"></span>
    <span class="do  step_3" data-step="step3"><span class="inner_do"></span></span>
    <span class="progressbar"></span>
    <span class="do  step_4" data-step="step4"><span class="inner_do"></span></span>
    <span class="progressbar"></span>
    <span class="do  step_5" data-step="step5"><span class="inner_do"></span></span>
    <span class="progressbar"></span>
    <span class="do  step_6" data-step="step6"><span class="inner_do"></span></span>
</div>