<div class="twoImagesMaincontainer">
    <div class="twoImagesMainRow">
        
        <div class="twoImagesMainColumn">
        {% include 'components/atoms/image/image-query.twig' with {
        additionalClass: '',
        image:firstImage

    } %}
        </div>

        <div class="twoImagesMainColumn">
        {% include 'components/atoms/image/image-query.twig' with {
        additionalClass: '',
        image:secondImage

    } %}
      

        </div>
    
    </div>

</div>