<div class="container breadcrumbs_template">
    <div class="breadcrumbs">
        <a href="/">Strona Główna</a><span>/</span> 
        <a href="{{type_link}}">{{type}}</a> 
            {% if path %}
        <span>/</span>
            {% if link %}
                <a href="#">
            {% endif %}
            {{path}}
            {% if link %}
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>