<div class="grey_header container">
<h{{ header_type }} style="text-align:center;">{{heading}}</h{{ header_type }}>
</div>
<style>
.grey_header {
    
}
.grey_header h2 {
    background:#fafafa;
}
.grey_header h2 {
    margin:0!important;
    padding-top:40px;
    font-size:32px;
    font-weight:500;
    line-height:36px;
    color:#141414;
}
@media screen and (max-width:997px) {
    .grey_header h2 {
        font-size:20px;
        line-height:28px;
    }
}
</style>