
<div class="video_custom_container" style="width: 100%;height: 386px;">
<video id="custom_video" class="video-js" controls preload="auto" width="100%" height="100%" poster="{{image}}" data-setup="{}">
    <source src="{{ video }}" type="video/mp4" />

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
        </a>
    </p>
</video>
</div>
<style>
.video_custom_container > div {
    width: 100%;
    height: 386px;
}
</style>
