<div class="a-site-heading">
	<div class="container heading_container">
		<h{{ header_type }} class="h1 a-site-heading__heading">{{ heading|replace({'||':'<br/>' })|raw }}</h{{ header_type }}>
		<p class="a-site-heading__description">{{ description|trim }}</p>

	</div>
</div>