<div class="hidden_rule">
	Wyrażam zgodę na prowadzenie przez Volvo Car Poland sp. z o.o. (ul. Puławska 558/560, 02-884 Warszawa) lub na jej zlecenie marketingu bezpośredniego produktów i usług marki Volvo, takich jak samochody, części i akcesoria, usługi Volvo Car Financial Services oraz inne usługi dostępne w sieci Volvo, poprzez:
	<span class="hide_info_custom">mniej &gt;</span>
</div>
