<div class="o-hero-image">
    <div class="o-hero-image__container container">
        {% include 'components/atoms/image/image.twig' with image|merge({
            additionalClass: 'o-hero-image__img'
        }) %}
    </div>
</div>