<div class="o-text-editor-extended">
    <div class="o-text-editor-extended__container container">
        <div class="o-text-editor-extended__content">
            {{ content|raw }}
        </div>
    </div>
</div>